* {
  margin: 0;
  padding: 0;
}
body{
  background-image: url("bgimagee.avif");
}

h1 {
  background-color: #081b31; 
  color: #dafbc1;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}


.choice {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 110px;
  width: 110px;
  object-fit: cover;
  border-radius: 50%;
}
.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}
.choices {
  display: flex;
  justify-content: center;
  align-tracks: center;
  gap: 2rem;
  margin: 5rem;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 0.5rem;
  padding-bottom: 4rem;
  gap: 5rem;
}
#user-score,
#comp-score {
  font-size: 4rem;
}
.msg-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 1.5rem;
  display: inline;
  padding: 0.5rem;
  border-radius: 1rem;
}
